/* Universal styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    background: #FF5959;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.primary-heading{
    font-weight: 700;
    font-size: 45px;
    margin-top: 120px;
}

.text-primary{
    color: #707070;
    margin: 30px 0px;
    font-size: 20px;
}
/* Header styles */
header{
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(35, 33, 33, 0.7)), url(images/donation6.jpg); 
 background-repeat: no-repeat;
 background-size: cover;
}

header .site-info{
    width: 800px;
    padding: 150px 0px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
}

.site-info .site-motto{
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;
}

.site-info .site-description{
    font-size: 20px;
    margin-bottom: 20px;
}

/* Donate Amount Section styles */
.donate-amount{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.donate-amount .amount{
    display: flex;
    justify-content: space-evenly;
}

.amount .amount-btn{
    background: #fafafa;
    font-weight: 600;
    font-size: 25px;
    border: none;
    color: #707070;
    padding: 30px 25px;
    margin-bottom: 50px;
}

.amount .active input{
    border: 2px solid #FF5959;
    background: #ffeeee;
}

.donate-amount .custom-amount input{
    width: 800px;
    border: none;
    outline: none;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #dadada;
    color: #dadada;
    margin-bottom: 30px;
    font-size: 18px;
}

/* Donate Plan Section Styles */
.donate-plan{
    width: 1020px;
    margin: 0 auto;
    text-align: center;
}

.donate-plan .donate-plan-container{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 50px;
}

.donate-sector-1, .donate-sector-2, .donate-sector-3{
    margin-left: 30px;
    padding: 40px 20px;
}

.donate-sector-1{
    background: #EDF5F6;
}

.donate-sector-2{
    background: #FFEEEE;
}

.donate-sector-3{
    background: #FFF4D6;
}

.donate-plan-container h3{
    font-weight: 600;
    font-size: 22px;
    margin: 20px 0px;
}

.donate-plan-container p{
    font-size: 14px;
    color: #707070;
}



